

@media only screen and (max-width:992px){
    .container{
        max-width: 932px;
        margin: 0 auto !important;
    }

    header{
        width: 100%;

        .header-topbar{
            width: 100%;
        }

        .header-topbar-wrapper{
            width: 100% !important;
        }
        .header-main-wrapper{
            width: 100% !important;
            font-size: 7px;
            padding: 0 17px !important;

            nav{
                img{
                    width: 100px !important;
                }
                ul{
                    display: none !important;
                }
            }
        }
    }

    #collection{
        .collection-wrapper{
            width: 100%;

            .collection-item{
                height: 100% !important;
            }

            .collection-text{
                width: 450px !important;
                h2{
                    font-size: 45px !important;
                    line-height: 60px !important;
                }
            }

            .collection-image{
                img{
                    width: 100% !important;
                    height: 353px !important;
                }
            }

            .slick-arrow{
                display: none !important;
            }
        }

    }

    #featured{
        
        .featured-wrapper{
            width: 932px !important;
            .slick-arrow{
                display: none !important;
            }
        }
    }

    #new-collection{
        .new-collection-wrapper{
            flex-direction: column;

            .new-collection-left{
                align-items: start;
                margin-bottom: 40px !important;
            }

            .new-collection-right-image{
                margin-top: 30px !important;
            }
        }
    }

    #brand{
        .brand-wrapper{
            .brand-item{
                &:nth-child(1){
                    display: none;
                }
                &:nth-child(2){
                    display: none;
                }
            }
        }
    }

    .last-collection-wrapper{
        flex-direction: column;

        .last-collection-right{
            width: 100% !important;
        }
    }

    .featured-product-wrapper{
        .slick-arrow{
            display: none !important;
        }
    }
}