@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateX(10px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

$custom-text-color: rgb(33, 37, 41);
$custom-text-border: 1px solid rgba(26, 72, 69, 0.2);
$custom-font-family: 'Jost',
sans-serif;
$custom-red-color: #EE403D;

.container {
    max-width: 1260.2px;
    margin: 0 auto !important;
}

header {
    .global-notification {
        height: 38px;
        padding: 10px 0 !important;
        background-color: rgb(26, 72, 69);
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: white;

            a {
                text-decoration: none;
                color: white;
                font-weight: 600;
            }
        }
    }

    .header-topbar {
        border-bottom: $custom-text-border;

        .header-topbar-wrapper {
            width: 1290px;
            margin: 0 auto !important;
            height: 40px;
            display: flex;
            justify-content: space-between;
            position: relative;
            padding: 0 15px !important;

            .social-buttons {
                width: 131.1px;
                cursor: pointer;
                user-select: none;

                .fa-instagram {
                    font-size: 18px;
                }

                span {
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 19.5px;
                    color: $custom-text-color;
                }

                .fa-sort-down {
                    font-size: 11px;
                    height: 13px;
                }
            }

            .header-message {
                width: 470px;

                p {
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 19.5px;

                    a {
                        color: red;
                        text-decoration: none;
                    }
                }
            }

            .header-topbar-right {
                width: 211.38px;

                .sub-menu {
                    position: relative;
                    padding: 10px 0 !important;

                    &:hover {
                        .sub-menu-hover {
                            display: block;
                        }
                    }
                }

                a {
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 19.5px;
                    text-decoration: none;
                    color: black;
                }

                i {
                    font-size: 9.1px;
                    line-height: 13.65px;
                }

                .sub-menu-hover {
                    display: none;
                    position: absolute;
                    border: 1px solid rgba(0, 0, 0, .15);
                    z-index: 998;
                    top: 40px;
                    left: -57px;
                    padding: 10px 0 !important;
                    background-color: #fff;

                    a {
                        width: 128.4px;
                        display: inline-block;
                        padding: 4px 15px !important;
                    }
                }
            }

            .social-holder {
                display: none;
                position: absolute;
                top: 43px;
                border: 1px solid rgba(0, 0, 0, .15);
                z-index: 998;
                padding: 17px !important;
                width: 240px;
                background-color: #fff;

                &.social-active-holder {
                    display: block;
                }

                a {
                    padding: 5px 0;
                    text-decoration: none;
                    color: $custom-text-color;
                    font-size: 16px;
                    line-height: 24px;
                    height: 34px;
                    display: block;

                    span {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 21px;
                    }

                    i {
                        width: 24px;
                        font-size: 16px;
                        margin-right: 10px !important;
                        line-height: 24px;
                    }
                }

                p {
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 19.5px;
                    color: $custom-text-color;
                    opacity: 0.4;
                    margin-top: 8px !important;
                }
            }
        }
    }

    .header-main {
        border-bottom: $custom-text-border;

        .header-main-wrapper {
            width: 1290px;
            margin: 0 auto !important;
            padding: 0 15px !important;
            height: 84.8px;

            nav {
                display: flex;
                align-items: center;

                .nav-menu {
                    font-size: 21px;
                    opacity: 0.9;
                }

                .nav-logo {
                    margin-left: 25px !important;

                    img {
                        width: 121px;
                        height: 26.96px;
                    }
                }

                .navbar {
                    margin-left: 40px !important;
                    gap: 30px;

                    .navbar-home:hover {
                        .sub-menu-home {
                            display: block;
                        }
                    }

                    .navbar-shop:hover {
                        .sub-menu-shop {
                            display: flex;
                        }
                    }

                    .navbar-item {
                        position: relative;

                        &::before {
                            content: "";
                            position: absolute;
                            bottom: -32px;
                            width: 100%;
                            height: 32px;
                        }

                        .sub-menu-home {
                            display: none;
                            position: absolute;
                            border: 1px solid rgba(0, 0, 0, .15);
                            z-index: 998;
                            top: 55px;
                            left: -25px;
                            padding: 18px 0 !important;
                            background-color: #fff;


                            a {
                                width: 238.4px;
                                display: inline-block;
                                padding: 4px 30px !important;
                                font-size: 15px;
                                font-weight: 400;
                                line-height: 22.5px;
                            }
                        }

                        .sub-menu-shop {
                            display: none;
                            position: absolute;
                            border: 1px solid rgba(0, 0, 0, .15);
                            z-index: 998;
                            top: 55px;
                            left: -300px;
                            padding: 18px 0 !important;
                            background-color: #fff;

                            .sub-menu-item {
                                padding: 5px 0 18px 0 !important;
                            }

                            a {
                                width: 314.6px;
                                display: inline-block;
                                padding: 4px 30px !important;
                                font-size: 15px;
                                font-weight: 400;
                                line-height: 22.5px;
                            }
                        }

                        a {
                            text-decoration: none;
                            color: #000;
                            font-size: 15px;
                            line-height: 22.5px;
                            font-weight: 500;

                            i {
                                font-size: 11px;
                                margin-left: 6px !important;
                            }
                        }
                    }
                }
            }

            .header-main-right {
                gap: 11px;

                i {
                    font-size: 20px;
                    line-height: 31px;
                }

                img {
                    width: 20.5px;
                    line-height: 31.5px;
                }

                .header-account {
                    width: 32px;
                    display: grid;
                    place-content: center;
                    cursor: pointer;
                }

                .search-toggle {
                    width: 32px;
                    display: grid;
                    place-content: center;
                    cursor: pointer;
                }

                .header-wishlist {
                    width: 32px;
                    display: grid;
                    place-content: center;
                    cursor: pointer;
                    position: relative;

                    .header-wishlist-count {
                        position: absolute;
                        width: 15px;
                        height: 15px;
                        font-weight: 600;
                        font-size: 10px;
                        line-height: 15px;
                        background-color: rgb(238, 64, 61);
                        color: #fff;
                        border-radius: 50%;
                        display: grid;
                        place-content: center;
                        top: -2px;
                        right: -2px;
                    }
                }

                .header-cart {
                    display: grid;
                    place-content: center;
                    cursor: pointer;
                    position: relative;

                    .header-cart-price {
                        margin-right: 6px !important;
                        font-size: 13px;
                        line-height: 20.5px;
                        font-weight: 400;
                    }

                    .header-cart-count {
                        position: absolute;
                        width: 15px;
                        height: 15px;
                        font-weight: 600;
                        font-size: 10px;
                        line-height: 15px;
                        background-color: rgb(238, 64, 61);
                        color: #fff;
                        border-radius: 50%;
                        display: grid;
                        place-content: center;
                        top: -8px;
                        right: -5px;
                    }
                }
            }
        }
    }
}

#collection {

    .slick-prev,
    .slick-next {
        color: #000;
        border-radius: 5px;
        border: none;

    }

    .slick-prev i,
    .slick-next i {
        font-size: 18px;
        opacity: 0.8;
        color: #000 !important;

        &:hover {
            color: red;
        }
    }

    .slick-prev {
        margin-right: 10px;
    }

    .slick-dots {
        bottom: 5px;

        button {

            &::before {
                font-size: 8px;
                color: #fff !important;
            }
        }
    }

    .collection-wrapper {
        width: 1319.2px;
        margin: 0 auto !important;

        .collection-item {
            width: 1319.2px;
            height: 466.73px;
            display: flex;
            align-items: center;
            position: relative;

            .collection-text {
                position: absolute;
                width: 630px;
                height: 298.6px;
                margin-inline: 29.6px !important;

                h4 {
                    margin-bottom: 10px !important;
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 14.4px;
                    letter-spacing: 1px;
                }

                h2 {
                    font-size: 76px;
                    font-weight: 300;
                    line-height: 83.6px;
                    margin-bottom: 20px !important;
                }

                p {
                    margin-bottom: 36px !important;
                    font-size: 16px;
                    font-weight: 400;
                    letter-spacing: -0.03px;
                    line-height: 24px;
                    opacity: 0.7;
                }

                a {
                    font-size: 16px;
                    font-weight: 500;
                    letter-spacing: -0.03px;
                    line-height: 24px;
                    display: flex;
                    align-items: center;
                    color: #000;
                    text-decoration: none;

                    i {
                        margin-left: 10px !important;
                    }
                }
            }

            .collection-image {
                img {
                    width: 1319.2px;
                    height: 466.73px;
                    object-fit: cover;
                }
            }
        }
    }
}

#featured {
    display: grid;
    place-content: center;

    .featured-wrapper {
        width: 1260px;
        margin-bottom: 50px !important;

        .featured-header {
            padding: 15px !important;
            margin: 65px 0 30px 0 !important;

            p {
                width: 756px;
                color: rgb(117, 118, 124);
                font-size: 17px;
                font-weight: 300;
                letter-spacing: -0.03;
                line-height: 25.5px;
            }

            h3 {
                font-size: 30px;
                font-weight: 500;
                line-height: 36px;
            }
        }

        .featured-products {

            .slick-prev,
            .slick-next {
                color: #000;
                border-radius: 5px;
                border: none;
                top: 210px;
            }

            .slick-prev i,
            .slick-next i {
                font-size: 30px;
                opacity: 0.2;
                color: #000;

                &:hover {
                    opacity: 0.4;
                }
            }

            .slick-dots {
                bottom: -55px;

                button {
                    &::before {
                        font-size: 8px;
                        color: #000 !important;
                    }
                }
            }

            .product-card {
                display: flex;
                flex-direction: column;
                width: 292.5px !important;
                margin-inline: 15.25px !important;

                &:hover {
                    .product-card-thumbnail {
                        .product-link {
                            display: flex;
                        }
                    }
                }

                .product-card-thumbnail {
                    position: relative;
                    width: 100%;
                    height: 438.75px;
                    margin-bottom: 16px !important;

                    .product-link {
                        display: none;
                        flex-direction: column;
                        gap: 10px;
                        justify-content: space-between;
                        position: absolute;
                        z-index: 2;
                        top: 15px;
                        right: -7px;
                        transform: translate(-50%);

                        &--hover-text {
                            width: 82.25px;
                            height: 23px;
                            background-color: black;
                            color: white;
                            position: absolute;
                            border-radius: 2px;
                            top: -32px;
                            font: normal 400 12px/23px $custom-font-family;
                            display: none;
                        }
                    }

                    .product-card-page-link {
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        background-color: white;
                        font-size: 16px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: all 0.4s;
                        animation: fadeDown 0.6s forwards;

                        &:hover {
                            background-color: $custom-red-color;
                            cursor: pointer;

                            i {
                                animation: none;
                                color: white;
                            }

                            span {
                                animation: none;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                i {
                                    position: absolute;
                                    bottom: -9px;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    color: #000;
                                    font-size: 14px;
                                }
                            }

                            transition: all 0.4s;
                        }
                    }

                    .add-to-card {
                        i {
                            font-size: 14px;
                            color: rgb(30, 30, 30);
                        }
                    }

                    .compare {

                        i {
                            font-size: 14px;
                            color: rgb(46, 45, 45);
                        }
                    }

                    .hover-image {
                        img {
                            display: none;
                        }
                    }

                    &:hover {
                        .hover-image {
                            img {
                                display: inline;
                            }
                        }
                    }

                    .product-image {
                        position: absolute;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .product-card-text {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    .product-card-review {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        margin-bottom: 8px !important;

                        i {
                            font-size: 13px;
                            line-height: 19.5px;
                            color: rgb(249, 195, 0) !important;
                        }

                        span {
                            margin-top: 1.5px !important;
                            font-size: 13px;
                            font-weight: 500;
                            letter-spacing: -0.03;
                            line-height: 19.5px;
                        }
                    }

                    .product-card-title {
                        margin-bottom: 8px !important;

                        a {
                            font-size: 15px;
                            font-weight: 400;
                            line-height: 18px;
                            text-decoration: none;
                            color: #000;
                        }
                    }

                    .product-card-price {
                        display: flex;
                        gap: 8px;
                        letter-spacing: -0.03px;

                        .old-price {
                            text-decoration: line-through;
                            opacity: 0.4;
                            font-size: 14.1px;
                            font-weight: 400;
                            line-height: 21.15px;
                        }

                        .new-price {
                            font-size: 15px;
                            font-weight: 500;
                            line-height: 22.5px;
                        }
                    }
                }
            }
        }
    }

    .line {
        .line-wrapper {
            margin-top: 60px !important;
            width: 100%;
            height: 1px;
            background-color: #000;
            opacity: 0.2;
        }
    }
}

#new-collection {
    margin: 65px 0px 75px 0 !important;

    .new-collection-wrapper {
        display: flex;
        justify-content: space-between;

        .new-collection-left {
            display: flex;
            flex-direction: column;
            align-items: end;

            .new-collection-left-image {
                margin-bottom: 20px !important;

                img {
                    width: 615px;
                    height: 773.7px;
                }
            }

            .new-collection-left-title {
                width: 505px;
                color: rgb(117, 118, 124);
                font-size: 16px;
                font-weight: 400;
                letter-spacing: -0.03px;
                line-height: 24px;
                margin: 20px 0 !important;
            }

            .new-collection-left-heading {
                font: normal 500 15px/18px $custom-font-family;
                width: 505px;
                margin-top: 10px !important;
            }
        }

        .new-collection-right {
            width: 515.5px;
            display: flex;
            flex-direction: column;

            .new-collection-right-heading {
                font: normal 600 12px/14.4px $custom-font-family;
                letter-spacing: 1px;
                margin-bottom: 15px !important;
            }

            .new-collection-right-title {
                font-size: 48px;
                font-weight: 400;
                line-height: 57.6px;
                margin-bottom: 20px !important;
            }

            .new-collection-right-description {
                color: #75767C;
                font-size: 17px;
                line-height: 1.5em;
                margin-bottom: 32px !important;
            }

            .collection-link {
                margin: 15px 0 0 0 !important;
                width: 135.79px;
                height: 42px;
                padding: 8px 15px !important;
                border: 0.8px solid rgba(143, 143, 143, 0.5);
                border-radius: 4px;
                text-decoration: none;
                color: #000;
                font: normal 500 15px $custom-font-family;
                display: flex;
                justify-content: space-around;
                align-items: center;

                &:hover {
                    background-color: #8f8f8f;
                    color: #fff;
                    transition: all 0.15s ease-in-out;
                }
            }

            .new-collection-right-image {
                margin-top: 95px !important;

            }
        }
    }
}

#chanel {
    height: 559.4px;
    display: grid;
    place-content: center;
    background-color: #EDF2F9;

    .chanel-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        .chanel-image {
            margin-bottom: 40px !important;
        }

        .chanel-description {
            width: 840px;
            font: normal 400 26px/39px $custom-font-family;
            letter-spacing: -0.03;
            text-align: center;
            margin-bottom: 40px !important;
        }

        .chanel-signature {
            margin-bottom: 20px !important;
        }

        h4 {
            margin-bottom: 8px !important;
            font: normal 600 12px/14.4px $custom-font-family;
            letter-spacing: 1px;
            opacity: 0.5;
        }
    }
}

#brand {
    .brand-wrapper {
        padding: 30px 0 !important;
        padding-inline: 30px !important;
        display: flex;
        justify-content: space-between;
        border-bottom: $custom-text-border;

        .brand-item {
            opacity: 0.5;

            &:hover {
                opacity: 1;
            }

            img {
                width: 150px;
                height: 85.713px;
            }
        }
    }
}

#last-collection {
    padding: 100px 0 !important;

    .last-collection-wrapper {
        display: flex;
        justify-content: space-between;
        padding-bottom: 85px !important;
        border-bottom: $custom-text-border;

        .last-collection-left {
            img {
                width: 615px;
                height: 639.44px;
            }
        }

        .last-collection-right {
            width: 507.5px;

            .last-collection-right-heading {
                font: normal 600 12px/14.4px $custom-font-family;
                letter-spacing: 1px;
                margin-bottom: 10px !important;
            }

            .last-collection-right-title {
                font-size: 48px;
                font-weight: 400;
                line-height: 57.6px;
                margin-bottom: 20px !important;
            }

            .last-collection-right-description {
                color: #75767C;
                font-size: 17px;
                line-height: 1.5em;
                margin-bottom: 32px !important;
            }

            .last-collection-link {
                margin: 15px 0 0 0 !important;
                width: 135.79px;
                height: 42px;
                padding: 8px 15px !important;
                border: 0.8px solid rgba(143, 143, 143, 0.5);
                border-radius: 4px;
                text-decoration: none;
                color: #000;
                font: normal 500 15px $custom-font-family;
                display: flex;
                justify-content: space-around;
                align-items: center;

                &:hover {
                    background-color: #8f8f8f;
                    color: #fff;
                    transition: all 0.15s ease-in-out;
                }
            }
        }

        .last-collection-line {
            width: 100%;
            height: 0.5px;
            opacity: 0.5;
            background-color: #000;
            margin: 75px 0 !important;
        }

        .last-collection-review {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        .last-collection-raiting {
            display: flex;
            align-items: center;

            i {
                font-size: 11px;
            }

            span {
                margin-left: 12px !important;
                font: normal 400 13px/19.5px $custom-font-family;
                letter-spacing: -0.03px;
                color: rgb(117, 118, 124);
            }
        }

        .last-collection-review-description {
            font: normal 400 16px/24px $custom-font-family;
            letter-spacing: -0.03px;
            color: rgb(117, 118, 124);
            margin: 8px 0 !important;
        }

        .last-collection-heading {
            font: normal 500 15px/18px $custom-font-family;
        }
    }
}

#featured-products {
    .featured-products-heading {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px !important;

        h4 {
            font: normal 500 30px/36px $custom-font-family;
        }

        p {
            font: normal 300 17px/25.5px $custom-font-family;
            letter-spacing: -0.03px;
            width: 756px;
        }
    }

    .featured-products-wrapper {

        .slick-prev,
        .slick-next {
            color: #000;
            border-radius: 5px;
            border: none;
            top: 210px;
        }

        .slick-prev i,
        .slick-next i {
            font-size: 30px;
            opacity: 0.2;
            color: #000;

            &:hover {
                opacity: 0.4;
            }
        }

        .slick-dots {
            bottom: -55px;

            button {
                &::before {
                    font-size: 8px;
                    color: #000 !important;
                }
            }
        }

        .featured-product {
            display: flex;
            flex-direction: column;
            width: 292.5px !important;
            margin-inline: 15.25px !important;

            &:hover {
                .product-card-thumbnail {
                    .product-link {
                        display: flex;
                    }
                }
            }

            .product-card-thumbnail {
                position: relative;
                width: 292.5px;
                height: 438.75px;
                margin-bottom: 16px !important;

                .product-link {
                    display: none;
                    flex-direction: column;
                    gap: 10px;
                    justify-content: space-between;
                    position: absolute;
                    z-index: 2;
                    top: 15px;
                    right: -7px;
                    transform: translate(-50%);

                    &--hover-text {
                        width: 82.25px;
                        height: 23px;
                        background-color: black;
                        color: white;
                        position: absolute;
                        border-radius: 2px;
                        top: -32px;
                        font: normal 400 12px/23px $custom-font-family;
                        display: none;
                    }
                }

                .product-card-page-link {
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    background-color: white;
                    font-size: 16px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.4s;
                    animation: fadeDown 0.6s forwards;

                    &:hover {
                        background-color: $custom-red-color;
                        cursor: pointer;

                        i {
                            animation: none;
                            color: white;
                        }

                        span {
                            animation: none;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            i {
                                position: absolute;
                                bottom: -9px;
                                left: 50%;
                                transform: translateX(-50%);
                                color: #000;
                                font-size: 14px;
                            }
                        }

                        transition: all 0.4s;
                    }
                }

                .add-to-card {
                    i {
                        font-size: 14px;
                        color: rgb(30, 30, 30);
                    }
                }

                .compare {

                    i {
                        font-size: 14px;
                        color: rgb(46, 45, 45);
                    }
                }

                .hover-image {
                    img {
                        display: none;
                    }
                }

                &:hover {
                    .hover-image {
                        img {
                            display: inline;
                        }
                    }
                }

                .product-image {
                    position: absolute;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .product-card-text {
                display: flex;
                flex-direction: column;

                .product-card-review {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    margin-bottom: 8px !important;

                    i {
                        font-size: 13px;
                        line-height: 19.5px;
                        color: rgb(249, 195, 0) !important;
                    }

                    span {
                        margin-top: 1.5px !important;
                        font-size: 13px;
                        font-weight: 500;
                        letter-spacing: -0.03;
                        line-height: 19.5px;
                    }
                }

                .product-card-title {
                    margin-bottom: 8px !important;

                    a {
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 18px;
                        text-decoration: none;
                        color: #000;
                    }
                }

                .product-card-price {
                    display: flex;
                    gap: 8px;
                    letter-spacing: -0.03px;

                    .old-price {
                        text-decoration: line-through;
                        opacity: 0.4;
                        font-size: 14.1px;
                        font-weight: 400;
                        line-height: 21.15px;
                    }

                    .new-price {
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 22.5px;
                    }
                }
            }
        }
    }
}