@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateX(10px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

$custom-text-border: 1px solid rgba(26, 72, 69, 0.15);
$custom-font-family: 'Jost',
sans-serif;
$custom-red-color: #EE403D;
$custom-blue-color:#41cde2;
$custom-text-color:rgb(134, 134, 134);

.container {
    max-width: 1260.2px;
    margin: 0 auto !important;
}

#shop {
    margin-top: 60px !important;
    padding-bottom: 80px !important;

    .container {
        .shop {
            display: flex;

            &__filter {
                width: 280px;
                margin-right: 132px !important;
                display: flex;
                flex-direction: column;
                gap: 30px;

                &__categories {

                    &__title {
                        font: normal 500 16px/19.2px $custom-font-family;
                        margin-bottom: 20px !important;
                        display: flex;
                        align-items: center;
                        position: relative;
                    }

                    &__display {
                        padding-bottom: 18px !important;
                        transition: all 0.6s;

                        &.display-c-active {
                            display: none;
                            transition: all 0.6s;
                        }
                    }

                    &__item {
                        animation: fadeDown 0.4s forwards;
                    }

                    &__link {
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        color: #000;

                        &:hover {
                            label {
                                color: #000;
                            }

                            span {
                                color: #000;
                            }
                        }

                        .checkbox-container {
                            display: inline-block;
                            position: relative;
                            padding-left: 35px;
                            margin-bottom: 12px;
                            cursor: pointer;
                            font-size: 15px;
                            user-select: none;
                        }

                        .custom-checkbox {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 0;
                            width: 0;
                        }

                        .checkbox-name{
                            margin-left: 15px !important;
                            font: normal 400 14px/21px $custom-font-family;
                        }

                        .checkmark {
                            height: 16px;
                            width: 16px;
                            background-color: #fff;
                            transition: background-color 0.3s;
                            border: $custom-text-border;
                            border-radius: 2px;
                        }

                        .checkmark:after {
                            content: "";
                            position: absolute;
                            display: none;
                            left: 6.5px;
                            top: 5px;
                            width: 4px;
                            height: 4px;
                            border: solid white;
                            border-width: 0 3px 3px 0;
                            transform: rotate(45deg);
                        }

                        .custom-checkbox:checked~.checkmark {
                            background-color: #EE403D;
                        }

                        .custom-checkbox:checked~.checkmark:after {
                            display: block;
                        }

                        @keyframes checkAnim {
                            0% {
                                height: 0;
                            }

                            100% {
                                height: 10px;
                            }
                        }

                        .custom-checkbox:checked~.checkmark:after {
                            animation: checkAnim 0.2s forwards;
                        }

                    }

                    &__ul {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                    }
                }

                &__availability {

                    &__title {
                        font: normal 400 18px/21.6px $custom-font-family;
                        margin-bottom: 25px !important;
                        display: flex;
                        align-items: center;
                        position: relative;
                    }

                    &__display {
                        padding-bottom: 30px !important;
                        transition: all 0.6s;
                    }

                    &__item {
                        animation: fadeDown 0.4s forwards;
                    }

                    &__link {
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        color: #000;

                        &:hover {
                            label {
                                color: #000;
                            }
                        }

                        .checkbox-container {
                            width: 100%;
                            display: inline-block;
                            position: relative;
                            padding-left: 35px;
                            margin-bottom: 12px;
                            cursor: pointer;
                            font-size: 15px;
                            user-select: none;
                        }

                        .custom-checkbox {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 0;
                            width: 0;
                        }

                        .checkbox-name{
                            margin-left: 15px !important;
                            font: normal 400 14px/21px $custom-font-family;
                        }

                        .checkbox-count{
                            cursor: text;
                            font: normal 400 13px/25px $custom-font-family;
                            letter-spacing: -0.03px;
                            color: #9aa5b3;
                        }

                        .checkmark {
                            height: 16px;
                            width: 16px;
                            background-color: #fff;
                            transition: background-color 0.3s;
                            border: $custom-text-border;
                            border-radius: 2px;
                        }

                        .checkmark:after {
                            content: "";
                            position: absolute;
                            display: none;
                            left: 6.5px;
                            top: 5px;
                            width: 4px;
                            height: 4px;
                            border: solid white;
                            border-width: 0 3px 3px 0;
                            transform: rotate(45deg);
                        }

                        .custom-checkbox:checked~.checkmark {
                            background-color: #EE403D;
                        }

                        .custom-checkbox:checked~.checkmark:after {
                            display: block;
                        }

                        @keyframes checkAnim {
                            0% {
                                height: 0;
                            }

                            100% {
                                height: 10px;
                            }
                        }

                        .custom-checkbox:checked~.checkmark:after {
                            animation: checkAnim 0.2s forwards;
                        }

                    }

                    &__ul {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                    }

                    &__count {
                        margin-left: 3px !important;
                        color: $custom-text-color;
                        font: normal 400 14px/23.8px $custom-font-family;
                    }
                }

                &__price {

                    &__title {
                        font: normal 500 16px/19.2px $custom-font-family;
                        margin-bottom: 25px !important;
                        display: flex;
                        align-items: center;
                        position: relative;
                    }

                    &__display {
                        width: 100%;
                        background-color: #fff;
                        margin-top: 45px !important;
                        border-radius: 10px;
                        font-family: "Poppins", sans-serif;
                        ;
                        font-size: 15px;

                        &.display-p-active {
                            display: none;
                            transition: all 0.6s;
                        }

                        header {
                            h2 {
                                font-size: 15px;
                                font-weight: 600;
                            }

                            p {
                                font-size: 15px;
                                margin-top: 5px !important;
                            }
                        }

                        .price-input {
                            display: flex;
                            width: 100%;
                            margin: 30px 0 25px !important;

                            .field {
                                display: flex;
                                width: 100%;
                                height: 45px;
                                align-items: center;
                            }

                            input {
                                width: 100%;
                                height: 75%;
                                outline: none;
                                border: 1px solid #999;
                                border-radius: 5px;
                                text-align: center;
                                font-size: 15px;
                                margin-left: 12px !important;

                                &::-webkit-outer-spin-button,
                                &::-webkit-inner-spin-button {
                                    display: none;
                                }
                            }
                        }

                        .seperator {
                            width: 130px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 15px;
                        }

                        .slider {
                            height: 1px;
                            position: relative;
                            background-color: #fff;
                            border: 1px dotted;
                            border-radius: 5px;
                        }

                        .progress {
                            position: absolute;
                            top: -1px;
                            height: 2px;
                            left: 0;
                            right: 65%;
                            background-color: red;
                            border-radius: 5px;
                        }

                        .range-input {
                            position: relative;

                            input {
                                position: absolute;
                                width: 100%;
                                height: 5px;
                                top: -3.5px;
                                pointer-events: none;
                                background: none;
                                appearance: none;
                                accent-color: $custom-red-color;

                                &::-webkit-slider-thumb {
                                    height: 10px;
                                    width: 10px;
                                    background-color: red;
                                    border-radius: 50%;
                                    pointer-events: auto;
                                    box-shadow: 0 0 6px rgba(164, 161, 161, 0.05);
                                }
                            }
                        }
                    }
                }

                &__color {

                    &__title {
                        font: normal 500 16px/19.2px $custom-font-family;
                        margin-bottom: 20px !important;
                        display: flex;
                        align-items: center;
                        position: relative;
                    }

                    &__display {
                        display: flex;
                        flex-direction: column;
                        gap: 6px;
                        padding-bottom: 25px !important;
                        transition: all 0.6s;

                        &.display-c-active {
                            display: none;
                            transition: all 0.6s;
                        }
                    }

                    .color-item{
                        cursor: pointer;
                    }

                    &__content {
                        width: 29px;
                        height: 29px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        position: relative;

                        &:hover {
                            border: 1px solid rgba($color: #000000, $alpha: 0.5);
                        }

                        &.active-color {
                            border: 1px solid rgba($color: #000000, $alpha: 0.5);
                        }
                    }

                    &--box {
                        width: 21px;
                        height: 21px;
                        border: 1px solid rgba($color: #000000, $alpha: .2);
                        border-radius: 50%;

                        span {
                            justify-content: center;
                            align-items: center;
                            background-color: #000;
                            display: none;
                            position: relative;

                            span {
                                text-align: center;
                                display: inline;
                                width: 60px;
                                padding: 5px 5px !important;
                                font: normal 400 13px/13px $custom-font-family;
                                color: white;
                                top: -35px;
                                text-transform: capitalize;
                            }

                            i {
                                position: absolute;
                                top: -18px;
                                left: 50%;
                                transform: translateX(-50%);
                                color: #000;
                                font-size: 16px;
                            }
                        }
                    }

                    &__name{
                        font: normal 400 14px/21px $custom-font-family;
                    }

                    &--count{
                        flex-grow: 1;
                        text-align: end;
                        cursor: text;
                        font: normal 400 13px/25px $custom-font-family;
                        letter-spacing: -0.03px;
                        color: #9aa5b3;
                    }
                }

                &__size {
                    &__title {
                        font: normal 500 16px/19.2px $custom-font-family;
                        margin-bottom: 12px !important;
                        display: flex;
                        align-items: center;
                        position: relative;
                    }

                    &__display {
                        display: flex;
                        flex-direction: column;
                        gap: 6px;
                        padding-bottom: 30px !important;
                        transition: all 0.6s;
                    }

                    &__item {
                        animation: fadeDown 0.4s forwards;
                    }

                    &__link {
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        color: #000;

                        &:hover {
                            label {
                                color: #000;
                            }
                        }

                        .checkbox-container {
                            width: 100%;
                            display: inline-block;
                            position: relative;
                            padding-left: 35px;
                            margin-bottom: 12px;
                            cursor: pointer;
                            font-size: 15px;
                            user-select: none;
                        }

                        .custom-checkbox {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 0;
                            width: 0;
                        }

                        .checkbox-name{
                            margin-left: 15px !important;
                            font: normal 400 14px/21px $custom-font-family;
                        }

                        .checkbox-count{
                            cursor: text;
                            font: normal 400 13px/25px $custom-font-family;
                            letter-spacing: -0.03px;
                            color: #9aa5b3;
                        }

                        .checkmark {
                            height: 16px;
                            width: 16px;
                            background-color: #fff;
                            transition: background-color 0.3s;
                            border: $custom-text-border;
                            border-radius: 2px;
                        }

                        .checkmark:after {
                            content: "";
                            position: absolute;
                            display: none;
                            left: 6.5px;
                            top: 4.5px;
                            width: 4px;
                            height: 4px;
                            border: solid white;
                            border-width: 0 3px 3px 0;
                            transform: rotate(45deg);
                        }

                        .custom-checkbox:checked~.checkmark {
                            background-color: #EE403D;
                        }

                        .custom-checkbox:checked~.checkmark:after {
                            display: block;
                        }

                        @keyframes checkAnim {
                            0% {
                                height: 0;
                            }

                            100% {
                                height: 10px;
                            }
                        }

                        .custom-checkbox:checked~.checkmark:after {
                            animation: checkAnim 0.2s forwards;
                        }

                    }

                    &__ul {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                    }
                }
            }

            &__content {
                width: 100%;

                select{
                    outline: none;
                    cursor: pointer;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font: normal 400 14px/21px $custom-font-family;
                }

                .show-select{
                    span{
                        font: normal 400 13px/19.5px $custom-font-family;
                        letter-spacing: -0.03px;
                        opacity: 0.5;
                    }
                }

                #sort{
                    width: 110px;
                }

                .select-wrap{
                    width: 0.5px;
                    height: 26.6px;
                    background-color: #000;
                    opacity: 0.2;
                    margin-inline: 8px !important;
                }

                &__filter-products {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    grid-gap: 30px;
                    grid-row-gap: 30px;
                    margin-top: 30px !important;
                    height: 900px;
                    overflow-y: auto;
                    overflow-x: hidden;

                    &::-webkit-scrollbar {
                        width: 0px;
                    }
        
                    &::-webkit-scrollbar-thumb {
                        background-color: #000;
                    }
        
                    &::-webkit-scrollbar-track {
                        background-color: #e3dcdc;
                    }

                    &>* {
                        animation: fadeDown 0.8s ease-in-out;
                    }

                    .product-card {
                        display: flex;
                        flex-direction: column;
                        width: 207.75px !important;
        
                        &:hover {
                            .product-card-thumbnail {
                                .product-link {
                                    display: flex;
                                }
                            }
                        }
        
                        .product-card-thumbnail {
                            position: relative;
                            width: 100%;
                            height: 311.63px;
                            margin-bottom: 16px !important;
        
                            .product-link {
                                display: none;
                                flex-direction: column;
                                gap: 10px;
                                justify-content: space-between;
                                position: absolute;
                                z-index: 2;
                                top: 15px;
                                right: -7px;
                                transform: translate(-50%);
        
                                &--hover-text {
                                    width: 82.25px;
                                    height: 23px;
                                    background-color: black;
                                    color: white;
                                    position: absolute;
                                    border-radius: 2px;
                                    top: -32px;
                                    font: normal 400 12px/23px $custom-font-family;
                                    display: none;
                                }
                            }
        
                            .product-card-page-link {
                                width: 35px;
                                height: 35px;
                                border-radius: 50%;
                                background-color: white;
                                font-size: 16px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                transition: all 0.4s;
                                animation: fadeDown 0.6s forwards;
        
                                &:hover {
                                    background-color: $custom-red-color;
                                    cursor: pointer;
        
                                    i {
                                        animation: none;
                                        color: white;
                                    }
        
                                    span {
                                        animation: none;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
        
                                        i {
                                            position: absolute;
                                            bottom: -9px;
                                            left: 50%;
                                            transform: translateX(-50%);
                                            color: #000;
                                            font-size: 14px;
                                        }
                                    }
        
                                    transition: all 0.4s;
                                }
                            }
        
                            .add-to-card {
                                i {
                                    font-size: 14px;
                                    color: rgb(30, 30, 30);
                                }
                            }
        
                            .compare {
        
                                i {
                                    font-size: 14px;
                                    color: rgb(46, 45, 45);
                                }
                            }
        
                            .hover-image {
                                img {
                                    display: none;
                                }
                            }
        
                            &:hover {
                                .hover-image {
                                    img {
                                        display: inline;
                                    }
                                }
                            }
        
                            .product-image {
                                position: absolute;
        
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
        
                        .product-card-text {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
        
                            .product-card-review {
                                display: flex;
                                align-items: center;
                                gap: 8px;
                                margin-bottom: 8px !important;
        
                                i {
                                    font-size: 13px;
                                    line-height: 19.5px;
                                    color: rgb(249, 195, 0) !important;
                                }
        
                                span {
                                    margin-top: 1.5px !important;
                                    font-size: 13px;
                                    font-weight: 500;
                                    letter-spacing: -0.03;
                                    line-height: 19.5px;
                                }
                            }
        
                            .product-card-title {
                                margin-bottom: 8px !important;
        
                                a {
                                    display: inline-block;
                                    font-size: 15px;
                                    font-weight: 400;
                                    line-height: 18px;
                                    text-decoration: none;
                                    color: #000;
                                }
                            }
        
                            .product-card-price {
                                display: flex;
                                gap: 8px;
                                letter-spacing: -0.03px;
        
                                .old-price {
                                    text-decoration: line-through;
                                    opacity: 0.4;
                                    font-size: 14.1px;
                                    font-weight: 400;
                                    line-height: 21.15px;
                                }
        
                                .new-price {
                                    font-size: 15px;
                                    font-weight: 500;
                                    line-height: 22.5px;
                                }
                            }
                        }
                    }
                }

                .center{
                    margin-top: 80px !important;
                }
            }
            &__banner{
                display: inline-block;            
                height: 328.65px !important;
                width: 100%;
                position: relative;
                text-decoration: none;
                color: #000;
                margin-bottom: 30px !important;

                img{
                    height: 100%;
                }

                &--text{
                    width: 330px;
                    position: absolute;
                    top: 70px;
                    left: 60px;
                }

                &_title{
                    font: normal 400 38px/45px $custom-font-family;
                    margin-bottom: 14px !important;
                }
                &_description{
                    color: rgb(104, 104, 104);
                }
            }
        }
    }
}

@import "./pagination";